@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 56% 93%;
    --foreground: 240 10% 3.9%;
    --card: 45 50% 96%;
    --card-foreground: 240 10% 3.9%;
    --popover: 45 50% 96%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 158 100% 22%;
    --primary-foreground: 0 0% 98%;
    --secondary: 45 30% 90%;
    --secondary-foreground: 158 100% 22%;
    --muted: 45 30% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 45 52% 47%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 20% 85%;
    --input: 45 20% 88%;
    --ring: 158 100% 22%;
    --radius: 0.5rem;

    --sidebar-background: 160 90% 10%;
    --sidebar-foreground: 45 50% 90%;
    --sidebar-primary: 45 52% 47%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 160 50% 20%;
    --sidebar-accent-foreground: 45 50% 95%;
    --sidebar-border: 160 50% 15%;
    --sidebar-ring: 45 52% 47%;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 158 80% 32%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 18%;
    --muted-foreground: 0 0% 63%;
    --accent: 45 62% 57%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 20%;
    --input: 240 5% 20%;
    --ring: 45 62% 57%;

    --sidebar-background: 240 6% 8%;
    --sidebar-foreground: 0 0% 80%;
    --sidebar-primary: 45 62% 57%;
    --sidebar-primary-foreground: 240 6% 10%;
    --sidebar-accent: 240 5% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 5% 15%;
    --sidebar-ring: 45 62% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2300704A' fill-opacity='0.03' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  }
}
